
<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <p>Hello {{ user.username }},</p>
        <p>You're receiving this email because you requested a password reset for your user account at {{ site_name }}.</p>
        <p>Please go to the following page and choose a new password:</p>
        <p><a href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}">Reset My Password</a></p>
        <p>Your username, in case you’ve forgotten: {{ user.username }}</p>
        <p>Thanks for using our site!</p>
        <p>The {{ site_name }} team</p>
    </div>
</body>
</html>
