{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Password Reset Done</title>
    <link href="{% static 'css/login-styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-5">
                                <form method="post" action="{%url 'accounts:password_reset_done'%}">
                                    {%csrf_token%}
                                <h2 class="fw-bold mb-2 text-uppercase">Password Reset Done</h2>
                                <p class="text-white-50 mb-5">An email has been sent with instructions to reset your password.</p>

                                <a href="{% url 'accounts:login' %}" class="btn btn-outline-light btn-lg px-5">Return to Login</a>

                            </div>

                            <div>
                                <p class="mb-0">Don't have an account? <a href="{% url 'accounts:signup' %}" class="text-white-50 fw-bold">Sign Up</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
